<div class="egawa">
  </br>
<%= render partial: 'public/posts/flash' %>
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      </br>
      <h3>新規投稿</h3>
      </br>
      <%= form_with model:@post,url: posts_path, method: :post, local:true do |f| %>

        <h6>写真</h6>
        <div><%= f.attachment_field :image %></div>
        <h6>画像名</h6>
        <%= f.text_field :name %>
        <h6>現地情報</h6>
        <%= f.text_area :description%>
        <h6>住所</h6>
        <%= f.text_field :address, placeholder: "住所" %>
        <h6>カテゴリー</h6>
        <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: "選択して下さい" %>
        <h6>撮影地</h6>
        <%= f.collection_select :location_id, Location.all, :id, :name, include_blank: "選択して下さい" %>
        <h6>撮影日</h6>
        <%= f.text_field :shooting_date%>
        <h6>おすすめ訪問時期</h6>
        <%= f.text_field :visit%>
        </br>
        </br>
        <%= f.submit '新規投稿', class:'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>
  </br>
  </br>
</div>