<div class="egawa2">
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      </br>
      </br>
      <h3>管理者ログイン</h3>

        <%= form_for(resource, as: resource_name, url: admin_path) do |f| %>
        <%#= form_with(model: resource, as: resource_name, url: new_admin_session_path(resource_name), local: true) do |f| %>
        <%#= form_with model: @admin, url: admin_session_path, local: true do |f| %>
          <div class="field">
            <%= f.label :"メールアドレス" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        
          <div class="field">
            <%= f.label :"パスワード" %><br />
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>
        
          <br/>
          <div class="actions">
            <%= f.submit "ログイン" %>
          </div>
        <% end %>
        </br>
      
    </div>
  </div>
</div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</div>