<div class="container">
 <div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-9">
   </br>
   <span class="bg-light" style="font-size: 21px;">カテゴリー管理・追加</span>
   <%= form_with model: @category, url: admin_categories_path, local:true do |f| %>
    <table>
     <tr>
     <th>カテゴリー名</th>
      <th><%= f.text_field :name %></th>
     </tr>
     <tr>
     <th><%= f.submit '新規登録'%></th>
     </tr>
   <% end %>
   </table>
   </br>
   </br>
   </br>
   <table class="table">
    <thead class="thead-light">
    <th>カテゴリー</th>
    <th></th>
    </thead>
     <% @categories.each do |category|%>
     
     <tr>
     <th>
     <%= category.name %>
     </th>
     <th>
     <%= link_to "編集する", edit_admin_category_path(category),class:'btn btn-success'  %>
     </th>
    </tr>
    
     <% end %>
   </table>
  </div>
 </div>
</div>