<div class="egawa2">
 <div class="container">
  <div class="row">
   <div class="col-md-3">
     </br>
     <h3>カテゴリー追加</h3>
     <%= form_with model: @category, url: admin_categories_path, local:true do |f| %>
      <table>
       </br>
       <tr>
       <th>カテゴリー名</th>
       </tr>
       <tr>
        <th><%= f.text_field :name %></th>
       </tr>
       <tr>
       <th><%= f.submit '新規登録'%></th>
       </tr>
     <% end %>
     </table>
   </div>
   
   <div class="col-md-9">
    </br>
    <h3>カテゴリー 一覧</h3>
    </br>
    <table class="table">
     <th><div class="category">カテゴリー</div></th>
     <th></th>
     </thead>
      <% @categories.each do |category|%>
      <tr>
      <th>
      <div class="category"><%= category.name %></div>
      </th>
      <th>
      <%= link_to "編集する", edit_admin_category_path(category),class:'btn btn-success'  %>
      </th>
      </tr>
      <% end %>
    </table>
   </div>
  </div>
 </div>
 </br>
 </br>
 </br>
 </br>
 </br>
 </br>
 </br>
 </br>
 </br>
 </br>
 </br>
 </br>
 </br>
</div>