<div class ="egawa">
  </br>
  <h3>Follows Users</h3>
  <table class="table table-striped">
       <tr>
       <th class="fontwhite">image</th>
       <th class="fontwhite">name</th>
       <th></th>
       <th></th>
       <th></th>
       </tr>
<% @user.followings.each do |user| %>
<tr>
  <td>
  <%= attachment_image_tag user, :profile_image, width:"100px" , fallback: "no_image.jpg" %>
  </td>
  <td class="fontwhite"><%= user.family_name %><%= user.first_name %></td>
  <td class="fontwhite">フォロー数:<%= user.followings.count %></td>
  <td class="fontwhite">フォロワー数:<%= user.followers.count %></td>
  <td><%= link_to 'show', user_path(user) %></td>
</tr>

<% end %>
</table>

</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</div>