<!DOCTYPE html>
<html>
  <head>
    <title>JNR</title>
    <%= csrf_meta_tags %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
       <header class="shadow-sm">
        <div class="container-fluid">
          <div class="row">
            <div class="col align-self-center">
              <div class="navbar-brand p-3">
                <!--ロゴの遷移先-->
                  <%# if admin_signed_in? %>
                    <%#= link_to "ながのCAKE", homes_path, class: "fas fa-birthday-cake" %>
                  <%# else %>
                    <%#= link_to "ながのCAKE", root_path, class: "fas fa-birthday-cake" %>
                  <%# end %>
              </div>
            </div>
                <div class="col align-self-center">
              <!--顧客がログインしている場合-->
            <% if admin_signed_in? %>
            <ul class="nav navbar-expand-lg navbar-right">
              <li class="nav-item mr-3">
                <%#= link_to "商品一覧", admin_products_path, class: "btn btn-outline-secondary" %>
              </li>
              <li class="nav-item mr-3">
                <%= link_to "ユーザー管理", admin_users_path, class: "btn btn-outline-secondary" %>
              </li>
              <li class="nav-item mr-3">
                <%= link_to "カテゴリー管理", admin_categories_path, class: "btn btn-outline-secondary" %>
              </li>
              <li class="nav-item mr-3">
                <%= link_to "撮影地管理", admin_locations_path, class: "btn btn-outline-secondary" %>
              </li>
              <li class="nav-item mr-3">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete , class: "btn btn-outline-secondary" %>
              </li>
            </ul>
            <!--ログインしていない時-->
            <% elsif user_signed_in? %>
            <div class="customer-name p-3">
              <p>ようこそ、 <%= current_user.family_name %> さん！</p>
            </div>
            </div>
            <ul class="nav navbar-expand-lg navbar-right">
              <li class="nav-item p-3">
                <%= link_to "マイページ", users_my_page_path(current_user), class: "btn btn-outline-secondary" %>
              </li>
              <li class="nav-item p-3">
                <%= link_to "投稿一覧", posts_path, class: "btn btn-outline-secondary" %>
              </li>
              <li class="nav-item p-3">
                <%= link_to "撮影地一覧", posts_location_path, class: "btn btn-outline-secondary" %>
              </li>
              <li class="nav-item p-3">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary" %>
              </li>
            </ul>

            <% else %>
              <ul class="nav navbar-expand-lg navbar-right">
                <li class="nav-item p-3">
                  <%= link_to "About", about_path, class: "btn btn-outline-secondary" %>
                </li>
                <li class="nav-item p-3">
                  <%#= link_to "商品一覧", products_path, class: "btn btn-outline-secondary" %>
                </li>
                <li class="nav-item p-3">
                  <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-secondary" %>
                </li>
                <li class="nav-item p-3">
                  <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-secondary" %>
                </li>
              </ul>
            <% end %>
        </div>
      </div>
    </header>

    <%= yield %>

  <footer class="shadow-sm mt-5">
    <div class="container-fluid">
      <p class="text-muted text-center"> © All rights reserved by Kazuhiro Takahashi.</p>
    </div>
  </footer>
  </body>
</html>
